<p id="notice"><%= notice %></p>

<h1>Scanners</h1>

<table>
  <thead>
    <tr>
      <th>Scanners</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scanners.each do |scanner| %>
      <tr>
        <td><%= link_to scanner.scanner_name, scanner %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
