<footer>
  <p><strong>Version 0.0.0</strong> | A project by Tim van Mourik | Donders institute <br />
  <br /><a href="https://github.com/TimVanMourik" target="_blank"> <em>Available on GitHub</em></a></p>
</footer>
